.color{
    border: 1px solid black;
    display: inline-block;
    padding: 50px;
}

.pixel{
    border: 1px solid black;
    padding: 10px;
}

.line{
    border: 1px solid black;
    padding: 50px;
    margin: auto;
}

#pc1{
    background-color: black;
}

#pc2{
    background-color: blue;
}

#pc3{
    background-color: green;
}

#pc4{
    background-color: red;
}